{% include 'base.html.twig' %}

{% block body %}
    <form action="{{ path('form_submit') }}" method="post">
        <div>
            <label for="email">email</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label for="password">password</label>
            <input type="text" name="password" />
        </div>
        <button>Connecter</button>
    </form>
{% endblock %}