{% extends 'base.html.twig' %}

{% block title %}Salt & Pepper - Réinitialisation de mot de passe{% endblock %}

{% block subtitle %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="flex mt-10 sm:mx-auto sm:w-1/3">
    <div class="pt-5">
        <p class="text-sm text-justify">
            Veuillez indiquer votre adresse e-mail, et nous vous ferons parvenir un lien permettant
            de réinitialiser votre mot de passe.
        </p>
    </div>
</div>
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <br>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
