<!DOCTYPE html>
<html>
    <head class="h-full bg-white">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-full">
        <main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <h1 class="title mb-5 text-4xl xs:text-5xl md:text-5xl text-center">Salt & Pepper</h1>
            </div>
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <h2 class="title mt-10 pt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                    {% block subtitle %}{% endblock %}
                </h2>
            </div>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
